
<div class="container">
  <div class="mat-selection">
    <h2 class="">ADMIN DASHBOARD</h2>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>home</mat-icon>Home</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>list</mat-icon>Categories</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>quizzes</mat-icon>Quizzes</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>add</mat-icon>AddQuizzes</mat-list-option>
      <mat-list-option class="text-light text-center my-4"><mat-icon mat-list-icon>logout</mat-icon>Log Out</mat-list-option>
    </mat-selection-list>
  </div>
</div>

  
  <!-- <p>
    Option selected: {{shoes.selectedOptions.selected[0]?.value}}
  </p> -->