<p>
  <mat-toolbar class="bg-primary text-light">
    <span> Oems </span>
    <span class="example-spacer"></span>
    <a *ngIf="!issignIn" class="text-light m-3 nav-link" routerLink="signIn">Sign in</a>
    <a *ngIf="!issignIn" class="text-light m-3 nav-link" routerLink="signUp">Sign Up</a>

    <a *ngIf="issignIn && user" class="text-light m-3 nav-link" href="">{{user.username}}</a>
    <a (click)="signOut()" *ngIf="issignIn" class="text-light m-3 nav-link" routerLink="signUp">Sign Out</a>
  </mat-toolbar>
</p>