<p>profile works!</p>
<table class="table table-hover">
    <tbody>
        <tr>
            <th>Full Name</th>
            <td>{{UserData.firstname}} {{UserData.lastname}}</td>
        </tr>
        <tr>
            <th>User Name</th>
            <td>{{UserData.username}}</td>
           
        </tr>
        <tr>
            <th>Email</th>
            <td>{{UserData.email}}</td>
        </tr>
        <tr>
            <th>Authority:</th>
            <td>{{UserData.authorities[0].authority}}</td>
        </tr>
        <tr>
            <th>credentialsNonExpired:</th>
            <td>{{UserData.credentialsNonExpired}}</td>
        </tr>
        <tr>
            <th>accountNonExpired:</th>
            <td>{{UserData.accountNonExpired}}</td>
        </tr>
        <tr>
            <th>credentialsNonExpired:</th>
            <td>{{UserData.credentialsNonExpired}}</td>
        </tr>
        <tr>
            <th>enabled</th>
            <td>{{UserData.enabled}}</td>
        </tr>
        <tr>
            <th>phone</th>
            <td>{{UserData.phone}}</td>
        </tr>
        <tr>
            <th>profile</th>
            <td>{{UserData.profile}}</td>
        </tr>
    </tbody>
</table>